:root{
  --darkblue: #3B75AD;
  --light: #fff;
  --navlink-color: #B9C6AE;
}

h1{
color: var(--darkblue)
}

section{
display: flex;
margin: left;
transition: margin-right 2s;
}

main{
background: linear-gradient(#e66465)
}

.flex-container {
display:flex;
}

@media and (max-width:992px){
}

@media and (max-width:768px){

}
